music/models/
music/uploads/
music/data/

weight/models/
weight/uploads/
weight/data/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
/venv/
venv/
ENV/

# IDE settings
.idea/
.vscode/

# Log files
*.log

# Zip files
*.zip

# Database files
*.db
*.sqlite3